Importing necessary dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

Loading dataset into pandas dataframe.

In [2]:
data = pd.read_csv('diabetes.csv')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
#displaying size of dataset
data.shape

(768, 9)

In [4]:
#Here, outcome column is label and other columns are features.
#Now, we see the unique values in the "Outcome" column
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [5]:
#So, there are 268 diabetes patients
#Now, we remove label from our table as

x=data.drop(columns='Outcome',axis = 1)
y = data['Outcome']

In [6]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [7]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

Data preprocessing

In [8]:
scaler =StandardScaler()

In [9]:
scaler.fit(x)

StandardScaler()

In [10]:
standarized_data =scaler.transform(x)