Importing necessary dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

Loading dataset into pandas dataframe.

In [2]:
data = pd.read_csv('diabetes.csv')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
#displaying size of dataset
data.shape

(768, 9)

In [4]:
#Here, outcome column is label and other columns are features.
#Now, we see the unique values in the "Outcome" column
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [5]:
#So, there are 268 diabetes patients
#Now, we remove label from our table as

x=data.drop(columns='Outcome',axis = 1)
y = data['Outcome']

In [6]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [7]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

Data preprocessing

In [8]:
scaler =StandardScaler()

In [9]:
scaler.fit(x)

StandardScaler()

In [10]:
standarized_data =scaler.transform(x)

In [11]:
print(standarized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [12]:
x=standarized_data
y =data['Outcome']

In [13]:
print(x)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [14]:
print(y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [16]:
## Spliting dataset into train and test data 
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, stratify =y,random_state =2)

In [17]:
print(x.shape,x_train.shape, x_test.shape)

(768, 8) (614, 8) (154, 8)

In [18]:
#Now,we train the model
classifier = svm.SVC(kernel = 'linear')
#training model
classifier.fit(x_train,y_train)

SVC(kernel='linear')

In [20]:
#Modelevaluation
x_train_prediction = classifier.predict(x_train)

training_data_accuracy = accuracy_score(x_train_prediction,y_train)
print(training_data_accuracy)

0.7866449511400652

In [21]:
#So, we get accuracy of 78.6%
x_test_prediction = classifier.predict(x_test)

test_data_accuracy = accuracy_score(x_test_prediction,y_test)
print(test_data_accuracy)

0.7727272727272727